.site-header{
    height: 135px !important;
    max-height: 135px !important;
    padding-left: 20px;
}
.site-title:hover{
    background: none !important;
}
.site-footer{
    display: none;
}
$sidebar-color: #d8bfa8;
$link-color: #00214b;

